<div class="pull-right">
  <%= link_to("新建活动", new_admin_event_path, class: "btn btn-default")%>
</div>
<h1>活动列表</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>活动名称</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>地点</th>
      <th>主办方</th>
      <th>状态</th>
      <th>选项</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <% link_to event_path(event)%>
           <% if event.logo.present? %>
            <%= link_to image_tag(event.logo.thumb.url, class:"event_logo_sm")%>
          <% else %>
            <%= link_to image_tag("http://placehold.it/100x100&text=No Pic", class: "event_logo_sm")%>
          <% end %>
          <%= link_to(event.title, admin_event_path(event)) %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.address %></td>
        <td><%= event.sponsor %></td>
        <td><%= t(event.status, :scope => "event.status") %></td>
        <td>
          <%= link_to("Edit", edit_admin_event_path(event))%> |
          <%= link_to("Delete", admin_event_path(event), method: :delete, data: {confirm: "Are you sure?"})%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
