<div class="pull-right" style="margin-top:10px;">
  <%= link_to("编辑活动", edit_admin_event_path(@event), class: "btn btn-default")%>
</div>
<% if @event.logo.present? %>
  <%= link_to image_tag(@event.logo.url(:thumb)), @event.logo.url, :target => "_blank"%>
<% end %>

<h1><%= @event.title %></h1>
<p>活动介绍：<%= @event.description %></p>
<ul>
  <li>开始时间：<%= @event.start_time %></li>
  <li>结束时间：<%= @event.start_time %></li>
  <li>地点：<%= @event.address %></li>
  <li>主办：<%= @event.sponsor %></li>
</ul>
