<h1 class="text-center">我发出的邀请</h1>

<div class="col-md-10 col-md-offset-1" style="margin-top: 20px;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>活动名称</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>地点</th>
        <th>主办方</th>
        <th>类别</th>
        <th>人数限额</th>
        <th>剩余名额</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td>
            <% link_to event_path(event)%>
             <% if event.logo.present? %>
              <%= link_to image_tag(event.logo.thumb.url, class:"event_logo_sm")%>
            <% else %>
              <%= link_to image_tag("http://placehold.it/100x100&text=No Pic", class: "event_logo_sm")%>
            <% end %>
            <%= link_to(event.title, event_path(event)) %></td>
          <td><%= event.start_time %></td>
          <td><%= event.end_time %></td>
          <td><%= event.address %></td>
          <td><%= event.sponsor %></td>
          <td><%= event.category.name %></td>
          <td><%= event.limited_num %></td>
          <td>10</td>
          <td><%= t(event.status, :scope => "event.status") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
