<div class="pull-right" style="margin-bottom: 20px;">
  <%= link_to("Add a Job", new_job_path, class: "btn btn-default")%>
</div>
<table class="table table-bordered">
  <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= link_to(job.title, job_path(job))%>
      </td>
      <td>
        <%= link_to("Edit", edit_job_path(job))%> |
        <%= link_to("Delete", job_path(job), method: :delete, data: {confirm: "Are you sure?"})%>
      </td>
      <td>
        <%= job.created_at %>
      </td>
    </tr>
  <% end %>
</table>
