<% if current_user %>
  <% if current_user.is_favorite_of?(event) %>
   <%= link_to(content_tag(:i," 已收藏", class: 'fa fa-heart' ),favorite_event_path(event,type: "unfavorite"), method: :put, :remote => true)%>
   <span id="favorite-counts-<%= event.id %>"><%= event.favorites.count%></span>
  <% else %>
    <%= link_to(content_tag(:i," 收藏", class: 'fa fa-heart-o' ),favorite_event_path(event,type: "favorite"), method: :put, :remote => true)%>
    <span id="favorite-counts-<%= event.id %>"><%= event.favorites.count%></span>
  <% end %>
<% else %>
    <%= link_to(content_tag(:i," 收藏", class: 'fa fa-heart-o' ),favorite_event_path(event,type: "favorite"), method: :put, :remote => true)%>
    <span id="favorite-counts-<%= event.id %>"><%= event.favorites.count%></span>
<% end %>
