<div class="container eventslist_page">
  <div class="row">
    <div class="col-md-12">
      <!-- 筛选区域 -->

      <!-- 兴趣 -->
      <%= form_tag events_path, :method => :get do %>
      <div class="submenu" style="margin-bottom: 3px;">
        <span><i class="fa fa-home fa-lg"></i> 兴趣: </span>
        <div class="btn-group" style="margin-left: 20px;">
          <%= link_to "全部", events_path, :class => "btn btn-default btn-group #{(params[:category].blank?)? "active" : ""}"%>
          <% Category.all.each do |c| %>
            <%= link_to c.name, events_path(category: c), :class => "btn btn-default btn-group #{(params[:category] == c)? "active" : "" }"%>
          <% end %>
        </div>
      </div>
      <!-- 城市 -->
      <div class="submenu" style="margin-bottom: 3px;">
        <span><i class="fa fa-paper-plane fa-lg"></i> 城市: </span>
        <div class="btn-group" style="margin-left: 20px;">
          <%= link_to "全部", events_path, :class => "btn btn-default btn-group #{(params[:city].blank?)? "active" : ""}"%>
          <% City.all.each do |c| %>
            <%= link_to ChinaCity.get(c.city).split("市").first, events_path(city: c.city), :class => "btn btn-default btn-group #{(params[:city] == c.city)? "active" : "" }"%>
          <% end %>
        </div>
      </div>
 <!-- 活动时间 -->
      <div class="submenu">
          <span><i class="fa fa-calendar fa-lg"></i> 时间: </span>
          <div class="form-group" style="margin-left: 80px; margin-top: -20px;">
            <%= text_field_tag :start_on, params[:start_on]%> ~  <%= text_field_tag :end_on, params[:end_on]%>
            <%= submit_tag "确认", :class => "btn btn-default"%>
          </div>
      </div>
    <% end %>

      <!-- 活动列表 -->
      <ul class="clearfix">
        <% @events.each do |event| %>
        <div class="col-md-4">
          <div class="eventList-item">
            <p class="eventList-item-pic">
                <%= link_to event_path(event) do %>
                  <% if event.logo.present? %>
                    <%= image_tag(event.logo.url, size: "250x250") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/250x250&text=No Pic") %>
                  <% end %>
              </p>
                <p class="title"><%= event.title %></p>
              <% end %>
                <div class="details">
                  <div class="city"><i class="fa fa-map-marker" aria-hidden="true"></i>
                    <% if ChinaCity.get(event.city) == "市辖区" || ChinaCity.get(event.city) == "县" %>
                      <%= ChinaCity.get(event.province).split("市").first %>
                    <% else %>
                      <%= ChinaCity.get(event.city).split("市").first %>
                    <% end %>
                  </div>
                  <div id="favorite-<%= event.id %>">
                    <%= render :partial => "favorite", :locals => {:event => event }%>
                  </div>
                </div>
          </div>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- 分页 -->
<div class="text-center">
  <%= will_paginate @events, renderer: BootstrapPagination::Rails, :previous_label => '上一页', :next_label => '下一页' %>
</div>

<script>
  $("#start_on").datepicker({format: "yyyy-mm-dd", language: "<%= I18n.locale %>"});
  $("#end_on").datepicker({format: "yyyy-mm-dd", language: "<%= I18n.locale %>"});
</script>
