<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top: 10px;">
      <div class="col-md-4">
        <% if @event.logo.present? %>
          <%= link_to image_tag(@event.logo.url,size: "300x300", :target => "_blank")%>
        <% else %>
           <%= link_to image_tag("http://placehold.it/300x300&text=No Pic", :target => "_blank")%>
        <% end %>
      </div>

      <div class="col-md-8">
        <div class="row">
          <h3><%= @event.title %></h3>
          <br>
          <div class="event-details">
            <p><i class="fa fa-calendar" aria-hidden="true"></i><strong> 开始时间：</strong><%= @event.start_time %></p>
          </div>
          <div class="event-details">
            <p><i class="fa fa-calendar" aria-hidden="true"></i><strong> 结束时间：</strong><%= @event.end_time %></p>
          </div>
          <div class="event-details">
            <p><i class="fa fa-paper-plane" aria-hidden="true"></i><strong> 地点：</strong><%= @event.address %></p>
          </div>
          <div class="event-details">
            <p><i class="fa fa-meetup" aria-hidden="true"></i><strong> 主办：</strong><%= @event.sponsor %></p>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2">
              <%= link_to("申请赴约", "#", class: "btn btn-success event-apply")%>
            </div>

            <div class="col-md-2" id="favorite-<%= @event.id %>">
              <% if current_user %>
                <% if current_user.is_favorite_of?(@event) %>
                 <%= link_to(content_tag(:i," ", class: 'fa fa-star' ),favorite_event_path(@event,type: "unfavorite"), method: :put, :remote => true)%>
                 <span id="favorite-counts-<%= @event.id %>"><%= @event.favorites.count%></span>
                <% else %>
                  <%= link_to(content_tag(:i," ", class: 'fa fa-star-o' ),favorite_event_path(@event,type: "favorite"), method: :put, :remote => true)%>
                  <span id="favorite-counts-<%= @event.id %>"><%= @event.favorites.count%></span>
                <% end %>
              <% else %>
                  <%= link_to(content_tag(:i," ", class: 'fa fa-star-o' ),favorite_event_path(@event,type: "favorite"), method: :put, :remote => true)%>
                  <span id="favorite-counts-<%= @event.id %>"><%= @event.favorites.count%></span>
              <% end %>
            </div>

            <div class="col-md-2">

            </div>

            <div class="col-md-6">
              <p>分享至: <%= social_share_button_tag(@event.title, :allow_sites => %w(twitter facebook google_plus weibo qq douban wechat))%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="event_info">
      <div class="TabBarBox">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-left">活动详情</a></li>
          <li><a data-toggle="tab" href="#tab-right">讨论区</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <!-- 活动详情页面 -->
        <div class="tab-pane active" id="tab-left">
          <div class="event_details_description">
            <p style="line-height:3em; "><%= raw @event.description %></p>
          </div>
        </div>
        <!-- 活动讨论区 -->
        <div class="tab-pane" id="tab-right">
          <div class="event_reviews">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <%= render :partial => "reviews/form", :locals => {:event => @event } %>
                <hr>
                <% if @reviews.blank? %>
                  <p>该活动还没有人讨论，来侃几句吧？</p>
                <% else %>
                <div id="reviews_list">
                  <% @reviews.each do |review| %>
                <%= render :partial => "reviews/review", :locals => { :review => review }%>
                  <% end %>
                </div>
                <% end %>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
