<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top: 10px;">
      <div class="col-md-3">
        <% if @event.logo.present? %>
          <%= link_to image_tag(@event.logo.url,size: "200x200", :target => "_blank")%>
        <% else %>
           <%= link_to image_tag("http://placehold.it/200x200&text=No Pic", size: "200x200", :target => "_blank")%>
        <% end %>
      </div>

      <div class="col-md-9">
        <h1><%= @event.title %></h1>
        <br>
        <ul>
          <li>开始时间：<%= @event.start_time %></li>
          <li>结束时间：<%= @event.start_time %></li>
          <li>地点：<%= @event.address %></li>
          <li>主办：<%= @event.sponsor %></li>
        </ul>
        <p>活动介绍：<%= @event.description %></p>
        <br>
        <% if !current_user %>
          <%= link_to "添加收藏",favorite_event_path(@event,type: "favorite"), method: :put, class: "btn btn-default"%>
        <% else %>
          <% if current_user.is_favorite_of?(@event) %>
            <%= link_to "取消收藏",favorite_event_path(@event,type: "unfavorite"), method: :put, class: "btn btn-default"%>
          <% else %>
            <%= link_to "添加收藏",favorite_event_path(@event,type: "favorite"), method: :put, class: "btn btn-default"%>
          <% end %>
        <% end %>
        <%= link_to("申请赴约", "#", class: "btn btn-success")%>
      </div>
    </div>
  </div>

</div>
