<h1 class="text-center">个人中心</h1>
<div class="pull-right">
  <%= link_to "编辑个人信息", edit_account_user_path(@user), class: "btn btn-lg btn-default"%>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if current_user.avatar.present? %>
        <%= link_to image_tag(current_user.avatar.url, :target => "_blank")%>
      <% end %>
      <p>当前头像</p>
    </div>

    <div class="col-md-9">
      <h6>基本信息</h6>
      <br>

      <%= simple_form_for [:account, @user] do |f| %>
        <div class="my-info">
          <span>邮箱：</span> <span><%= @user.email %></span>
          <br>
          <span>用户名：</span> <input type="text" name="user[username]" value="<%= @user.username %>">
          <br>
          <%= f.file_field :avatar, label: "头像设置"%>
          <br>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
