<div class="pull-right" style="margin-bottom: 20px;">
  <%= link_to("Add a Job", new_admin_job_path, class: "btn btn-default")%>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Company</th>
      <th>City</th>
      <th>Salary</th>
      <th>Options</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= render_job_status(job)%>
        <%= link_to(job.title, admin_job_path(job))%>
      </td>
      <td><i class="fa fa-building" aria-hidden="true"></i> <%= job.company%></td>
      <td><i class="fa fa-location-arrow" aria-hidden="true"></i> <%= job.city %></td>
      <td><%= job.wage_lower_bound%> ~ <%= job.wage_upper_bound%></td>
      <td>
        <%= link_to("Edit", edit_admin_job_path(job))%> |
        <%= link_to("Delete", admin_job_path(job), method: :delete, data: {confirm: "Are you sure?"})%>
        <% if job.is_hidden %>
        <%= link_to("Publish", publish_admin_job_path(job), method: :post, class: "btn btn-sm btn-success")%>
        <% else %>
        <%= link_to("Hide", hide_admin_job_path(job), method: :post, class: "btn btn-sm btn-warning")%>
        <% end %>
      </td>
      <td>
        <%= job.updated_at %>
      </td>
    </tr>
  <% end %>
</table>

<div class="text-center">
  <%= will_paginate @jobs%>
</div>
